* {
    font-family: 'Lato', sans-serif;
}

/*Header Section*/

.header {
    background-color: rgba(229, 84, 115, 0.10);
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.banenr-content {
    max-width: 500px;
}

.banner-greeting {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}

.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-top: 5px;
    margin-bottom: 32px;
}

.banner-description {
    margin-top: 0px;
    margin-bottom: 32px;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    color: white;
    border: 0;
    padding: 20px 43px;
    font-size: 20px;
    font-weight: 700;
}

.banner .header-flower-pic {
    width: 500px;
    padding: 50px 240px 0px 97px;
}

/*Main Section*/

/*sell section*/

.main-div-writingpart {
    text-align: center;
}

.sale-alignment {
    padding: 70px 430px 80px 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    gap: 10px;
}

.second-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-top: 5px;
    margin-bottom: 15px;
}

/*Insta Section*/

.third-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 130px;
}

.insta-content {
    padding: 0px 600px;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}

.img-container {
    display: flex;
    justify-content: space-between;
    padding: auto;
    margin-left: 240px;
    margin-right: 240px;
    margin-bottom: 130px;
}

/*latest Deals section*/

.update-container {
    background-image: url(../Rectangle9.png);
    background-repeat: no-repeat ;
    padding: auto;
    margin: 0 240px 50px 240px;
}

.update-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-top: 130px;
}

.update-text {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.form-align {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 130px;
    gap: 10px;
}

.mail-input {
    padding: 25px 500px 25px 20px;
    border-radius: 8px;
    background: #FFF;
    border: 0;
}

/*footer title*/

.footer-back {
    margin-top: 50px;
    background-color: black;
    padding: 100px 440px;
    margin-top: 130px;
}