* {
    font-family: 'Lato', sans-serif;
}

/*Header Section*/

.header {
    background-color: rgba(229, 84, 115, 0.10);
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.banenr-content {
    max-width: 500px;
}

.banner-greeting {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}

.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-top: 5px;
    margin-bottom: 32px;
}

.banner-description {
    margin-top: 0px;
    margin-bottom: 32px;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    color: white;
    border: 0;
    padding: 20px 43px;
    font-size: 20px;
    font-weight: 700;
}

.banner .header-flower-pic {
    width: 500px;
    padding: 50px 240px 0px 97px;
}

/*Main Section*/

.main-div-writingpart {
    text-align: center;
}

/*.main-div-image{
    padding-right: 200px;
}*/

.sale-alignment {
    padding: 70px 430px 80px 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    gap: 10px;
}

.second-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-top: 5px;
    margin-bottom: 15px;
}

.third-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.insta-content{
    padding: 0px 600px;
    align-items: center;
    text-align: center;
}

.img-container{
    display: flex;
    justify-content: space-between;
    padding: auto;
    margin-left: 240px;
    margin-right: 240px;
}

/*footer title*/
